*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #d26163;
}
section{
    background-size: cover;
    background-image: url("header-animation.png");
    display: block;
   width: 100%;
   height: 800PX;
}
.logo{
     width: 40;
     height: 40px;

}
.nav-section{
    display: flex;
    padding: 40px;
    justify-content: space-between ;
}
.navlinks ul{
    list-style: none;
   display: flex;
   padding: 10px;
   gap: 45px;
}
.navlinks  a{
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    size: 40px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    height: 20px;
    transition: 0.4s ease;
}

.navlinks ul li a:hover{
    background-color: #d26163;
    border: 30px;
    padding: 10px;
    border-radius: 30px;
}
.navlinks button{
    background-color: #d26163;
    text-decoration: none;
    border: 0;
    padding: 5px 19px;
    border-radius: 30px;
}
.navlinks button a{
    font-size: 18px;
}

.hero-content{
display: flex;

width: auto;
height: 2000px;

justify-content: space-between;
}
.hero-wrapper{
    margin-top: 114px;
    width: 700px;
    height: 600px;
    padding-left: 60px;
}
.hero-wrapper h5{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 100px;
}
p{
    color: white;
    font-size: 20px;

}

.product-wrapper{
    display: flex;
    
}
.product-image{
    
    width: 500px;
    height: 600px;
    
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
       transform: translateX(-100%);
    }
}
.slider{
        white-space: nowrap;
        overflow: hidden;
}
.slider-ad{
    padding: 20px;
    animation: 20s slide infinite linear;
    display: inline-block;

}

.slider img{
    width: 1600px;
    padding: 60px;
}

.container{
    background-color: white;
    width: 100%;
    height: 1000px;
}
.product-card-space{
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    width: 1200px;
    height: 900px;
    margin-left: 130px;
    position: relative;
    top: 95px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: -6px;
   
    
    
}
.product-card{
    display: flex;
    padding: 16px;
    margin: 47px;
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 30px;
    justify-content: space-between;
    position: relative;
}
.product-card:hover{
    background-color: #d26163;
}
.image-prod{
    max-width: 250px;
    max-height: 300px;
    transition: 0.3s ease;
}
.image-prod:hover{
    scale: 1.06;
}

.heading-prod h2{
    margin-top: 20px;
    font-family: Arial;
    font-weight: 700;
    text-decoration: underline;
}
.price{
    font-family: arial ;
    font-weight: 700;
    padding-top: 10px;
    
}

.price h3{
    font-size: 16px;
}
.price h2{
    text-decoration: none;
    font-size: 32px;
}
.discount-price h2{ 
    padding-bottom:10px ;
    position: relative;
    bottom: 20px;
    text-decoration: line-through;
    color: red;
    font-size: 15px;
    text-align: start;
}
.buy-btns{
    padding-top: 47px;
    display: flex;
justify-content: space-between;  
 
}
.buy-btn1:hover{
    background-color: rgb(170, 52, 52);
    color: black;
}

.buy-btn1{
    background-color: #d44548;
    border-radius: 30px;
    padding: 9px 15px;
    border: 0;
    color: white;
}
.buy-btn1 a{
    text-decoration: none;
    color: white;
}
.buy-btn2:hover{
    background-color: white;
}
.buy-btn2{
     background-color: #d4d4d4;
    border-radius: 30px;
    padding: 9px 15px;
    border: 0;
}
.buy-btn2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.stars-img{
    padding-top: 20px;
}
footer{
    background-image: url(footer1.png);
   max-width: 1980px;
   height: 1080px;
    background-size: cover;  
    
}
.heading-para{
    padding-top: 300px  ;
    left: 130px;
    width: 500px;
    position: relative;
    bottom: 50px;   
}
.heading-para p{
    padding-top: 20px;
}
.heading-para h1{
    text-decoration: underline 6px;
}
.copyright-sec{
    background-color: #341A40;
    justify-content: space-between  ;
    width: 100%;
    height: 180px;
    align-items: center;
    display: flex;
}
.copyright-sec p{
    padding-right: 500px;
}
.copyright-sec a{
    text-decoration: none;
    color: white;
    margin-left: 120px;
    font-family: arial ;
    font-weight: 500;
}
.copyright-sec img{

    position: relative;
    left: 120px;
    top: 3px;
} 
  .hamburger-icon {
    display: none;
  }

@media only screen and (max-width: 750px){
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
   background-image: url(muted\ tones\ of\ dusty\ pink\ and\ dark\ purple\ surreal\ .webp);  
   background-size: cover   ;    
        max-width: 430px;
        height: 100%; 
    }
    .nav-section{
        background-color: #d2616371;
        backdrop-filter: blur(4px);
      justify-content: center;
      position: relative;
      padding: 60px;
      align-items: center;
      overflow-x: hidden;
    }
    .nav-section img{
        padding-top: 10px;
        padding-bottom: 20px;
       
        align-items: center;
        justify-content: center;
    }

 
  .hamburger-icon {
    display: block;
    font-size: 32px;
    position: absolute;
    top: 30px;
    left: 20px;
    color: rgb(255, 255, 255);
    z-index: 1000;
    cursor: pointer;
  }

  .navlinks ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.342);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease;
    z-index: 999;
    padding: 0;
  }

  .navlinks ul.show {
    display: flex;
    text-decoration: none;
    list-style: none;
    max-height: 600px;
    padding: 20px ;
  }

  .navlinks ul li a {
    color: #ffffff;
    font-family: arial;
    font-weight: 600;
    backdrop-filter: blue(5px);
    text-decoration: none;
  }

  .navlinks button {
    display: none;
  }
  .hero-wrapper{
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: center;

  }
  .hero-wrapper h5{
     color: white;
     font-size: 25px;

  }
   .hero-wrapper h1{
    color: white;
    font-size: 50px;
    font-family: arial;
    font-weight: 700;
   }
   .hero-wrapper p{
    display: none;
   }
   .product-wrapper{
    align-items: center;
    justify-content: center;
    padding-left: 95px;
   }
   main{
    background-color: #d26163;
   }
   .slider{
    padding-top: 20px;
    padding-bottom: 20px;
   }
   .slider img{
    width: 412px;
    
   }
   @keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
       transform: translateX(-100%);
    }
}
.slider{
        white-space: nowrap;
        overflow: hidden;
}
.slider-ad{
    padding: 20px;
    animation: 20s slide infinite linear;
    display: inline-block;

}
.container{
    background-color: white;
}
.product-card-space{
    background-color: rgb(224, 224, 224);
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: -10px;
    padding: 15px;
}
.product-card{
    display: inline;
    padding: 16px;
    margin: 47px;
    background-color: white;
    width: 290px;
    height: 525px;
    border-radius: 30px;
    justify-content:center;
    align-items: center;
    text-align: center;
     
}
.product-card:hover{
    background-color: #d26163;
}
.image-prod{
    max-width: 250px;
    max-height: 300px;
    transition: 0.3s ease;
}
.image-prod:hover{
    scale: 1.06;
}

.heading-prod h2{
    margin-top: 20px;
    font-family: Arial;
    font-weight: 700;
    text-decoration: underline;
}
.price{
    font-family: arial ;
    font-weight: 700;
    padding-top: 10px;
    
}

.price h3{
    font-size: 16px;
}
.price h2{
    text-align: center;
    justify-content: center;
    
    text-decoration: none;
    font-size: 32px;
}
.discount-price h2{ 
    padding-bottom:10px ;
    position: relative;
    bottom: 75px;
    text-decoration: line-through;
    color: red;
    font-size: 15px;
    text-align: center;
}
.buy-btns{
    position: relative;
    bottom: 20px;
    display: flex;
justify-content: center;  
gap: 30px;
 
}
.buy-btn1:hover{
    background-color: rgb(170, 52, 52);
    color: black;
}

.buy-btn1{
    background-color: #d44548;
    border-radius: 30px;
    padding: 9px 15px;
    border: 0;
    color: white;
}
.buy-btn1 a{
    text-decoration: none;
    color: white;
}
.buy-btn2:hover{
    background-color: white;
}
.buy-btn2{
     background-color: #d4d4d4;
    border-radius: 30px;
    padding: 9px 15px;
    border: 0;
}
.buy-btn2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.stars-img{
    position: relative;
    bottom: 80px;
}
footer{
    background-image: url(footer1.png);
    background-size: cover;
    max-width: 430px;
    overflow: hidden;
}
.heading-para{
    padding-top: 100px  ;
    left: 130px;
    width: 200px;

    position: relative;
    bottom: 50px;   
}
.heading-para p{
    padding-top: 20px;
    color: white;
    
}
.heading-para h1{
    text-decoration: underline 6px;
    color: white;
}
.copyright-sec{
    background-color: #341A40;
    justify-content: space-between;
    width: 100%;
    height: 184px;
    align-items: center;
    display: flex;
}
.copyright-sec p{
    padding-right: 200px;
    margin-left: 50px;
    color: white;
}
.copyright-sec a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-family: arial;
    font-weight: 500;
}
.copyright-sec img{

    position: relative;
    left: 50px;
    top: 3px;
}

}


